{% extends 'partials/base.html' %}
{% block title %} MRQZ | Password Reset Done Page {% endblock %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h1>Password Reset Done Page</h1>
                <hr/>
                <div class="alert alert-info">
                    <h4>An email has been sent to the email address you provided. Please follow the instructions to reset your password</h4>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}